<html>
    <body>
        <div class='erros'>
            <%if(errosValidacao){%>
                <ul>
                    <%for(var i=0;i<errosValidacao.length;i++){%>
                        <li><%=errosValidacao[i].param%> - <%=errosValidacao[i].msg%> </li>
                    <%}%>
                </ul>    
            <%}%>
        </div>
        <form action="/produtos" method="post">
            <div>
               <label for="titulo">Titulo do Livro</label>
               <input type="text" id="titulo" name="titulo" value="<%=produto.titulo%>" placeholder="Coloque o titulo aqui"/>
            </div>
            <div>
                <label for="preco">Preço do Livro</label>
                <input type="text" id="preco" name="preco" value="<%=produto.preco%>" placeholder="Coloque o preço aqui"/>
            </div>
            <div>
                <label for="descricao">Descrição do Livro</label>
                <textarea cols="10" rows="20" id="descricao" name="descricao"  placeholder="Fale sobre o livro"><%=produto.descricao%></textarea>
            </div>
            <input type="submit" value="gravar"/>
        </form>
    </body>
</html>